.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Smodal_wrap {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 90%;
    border-radius: 5%;
    position: absolute;
    bottom: 5%;
    left: 10%;
    background: #eee;
    z-index: 999;
}
.modal_background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_textset{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Smodal-title{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 2%;

    font-size: 30px;
    font-weight: 700;
}
.content-set{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 620px;
    margin-top: 8%;
}
.textsets{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    width: 40%;
}

.input-column{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 100%;
    height: 40%;

    flex-direction: row;
}
.input-column-location{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 100%;
    height: 17.5%;

    flex-direction: row;
}
.input-column-text{
    width: 15%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
}
.input-column-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 75%;
    height: 100%;

    border: 1px solid #CCCCCC;
}
.input-design{
    width: 80%;
    height: 30%;
    margin-bottom: 5px;
}
.input-result-text{
    width: 80%;
    height: 30%;
    padding-left: 10px;   
}
.input-column-content-starttime{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 50%;
}
.input-column-content-starttime-date{
    width: 50%;
    height: 100%;

    flex-direction: row;
}
.input-column-content-starttime-time{
    width: 50%;
    height: 100%;

    font-size: 18px;
    font-weight: 700;

    flex-direction: row;
}
.input-column-content-starttime-date-text{
    width: 90%;
    height: 50%;

    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
}
.input-column-content-starttime-time-text{
    width: 20%;
    height: 50%;

    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
}
.input-column-content-starttime-title{
    width: 100%;
    height: 40%;   
    padding-left: 30px;
    margin-top: 10px;
}
.input-column-content-starttime-content{
    width: 100%;
    height: 60%;   

    flex-direction: row;
}
.submitbtn{
  position: absolute;
  top: 70%;
  right: 3%;
  width: 100px;
  height: 40px;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
.maps{
    height: 100%;
    width: 50%;
    margin-left: 5%;
}

.inner_maps{
  height: 90%;
  width: 100%;
}

 #map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 630px;
    margin: 0;
    padding: 0;
  }
  
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
