.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.All{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 1100px;
  }

.header-set{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 25%;
}

.main-set{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70%;
    width: 100%;

    flex-direction:row;
  }
.calculator-set{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    width: 50%;
    height: 90%;
}

.footer-set{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 10%;
    width: 100%;
    border-top: 3px solid #0099a4;
}
.Title{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(./MainImg.png);
    width: 580px;
    height: 100px;
    background-repeat: no-repeat;
}

.Tag-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 100%;
    margin-top: 30px;
    padding: 15px;
    border-bottom: 3px solid #0099a4;
}
.Tag{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
}
.expenseCalculator{
    width: 70%;
    height: 500px;
    border: 2px solid #9e9e9e;

    justify-content: flex-start;
}
.expense-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 50px;
    width: 100%;
    border-bottom: 2px solid #9e9e9e;
}
.expenseCalculatorTitle{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: 700;

    margin-top: 10px;
}
.expenseCalculatoradddiv{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 100%;

    margin-top: 10px;
    margin-bottom: 10px;
}
.expenseCalculatoraddbtn{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 57.5%;

    height: 30px;
}
.expense-item-title{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    font-size: 20px;
}
.expense-item-amount{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 100%;
    font-size: 20px;
    border-left: 2px solid #9e9e9e;
}

.noteaddbtn{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 7.5%;

    height: 30px;
}
.note-item-check{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15%;
    font-size: 20px;
}
.note-item-title{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 85%;
    height: 100%;
    font-size: 20px;
    border-left: 2px solid #9e9e9e;
}
.border-right{
    border-right: 2px solid #CCCCCC;
}
