
.mainbox{
    display: flex;
    width: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.home_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
/*비행기 이미지*/
.img_box{
    width: 350px;
    height: 50vh;
    display: inline-block;
    background-image: url(./assets/airplane.jpg);
    background-size: cover;
    overflow: hidden; /*벗어난 영역 숨김처리*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3%;
    margin-right: 10px;
}


.login_box{
    width: 380.31px;
    height: 50vh;
    display: inline-block;
    overflow: hidden; /*벗어난 영역 숨김처리*/
    position: relative;
    /*border: 1px solid rgb(219,219,219);*/
    border-radius: 3%;
    box-sizing: border-box;
    text-align: center;
}

.img_logo{
    width: 270px;
    height: 200px;
}
.box{
    box-sizing: border-box;
    position: relative;
    vertical-align: baseline;
}
.login_form{
    margin: 50px 0 0 0 ;
    text-align: center;
}
.home_box2{
    border: 1px solid rgb(219,219,219);
    border-radius: 3px;
    box-sizing: border-box;
    background-color: rgb(250,250,250);
    width: 268px;
    height: 38px;
    position: relative;
    margin: 0 40px 6px 58px;
    align-items: center;
}
.input_login{
    width: 258px;
    height: 34px;
    background-color: rgb(250,250,250);
    text-decoration-color: rgb(250,250,250);
    outline: none;
    overflow: hidden;
    margin: 0;
    border: 0;
    text-overflow: ellipsis;
    font-size: 12px;

}
.btn_login{
    width: 268px;
    height: 32px;
    background-color: #0099a4;
    border: none;
    border-radius: 7px;
    opacity: .7;
    color:white;
    margin: 12px 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
}
